* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 18px;
}

h1 {
  font-size: 32px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff7ec;
}

button {
  padding: 5px;
  background: linear-gradient(
    90deg,
    rgba(126, 75, 12, 1) 0%,
    rgba(255, 141, 0, 1) 16%,
    rgba(255, 203, 79, 1) 100%
  );
  transition: 0.3s ease;
}
button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 3px black;
}